<!-- Pre Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
  <nav id="nav_f" class="default_color" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" id="logo-container" class="brand-logo">Softenza Inc.</a>
        <ul class="right hide-on-med-and-down">

          <li>
            <a href="/reservations" *ngIf="user.id>0">Reservations</a>
          </li>
          <li>
            <a href="/clients" *ngIf="user.id>0 && user.role==1">Clients</a>
          </li>
          <li>
            <a href="/review" *ngIf="user.id>0 && user.role==0">Review</a>
          </li>
          <li>
            <a href="/login" *ngIf="user.id==0">Connexion</a>
          </li>
          <li>
            <a href="#" (click)="logout()" *ngIf="user.id>0">Deconnexion</a>
          </li>
          <li>
            <a href="/inscription" *ngIf="user.id==0">Inscription</a>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li>
            <a href="/reservations" *ngIf="user.id>0">Reservations</a>
          </li>
          <li>
            <a href="/clients" *ngIf="user.id>0 && user.role==1">Clients</a>
          </li>
                    <li>
            <a href="/review" *ngIf="user.id>0 && user.role==0">Review</a>
          </li>
          <li>
            <a href="/login" *ngIf="user.id==0">Connexion</a>
          </li>
          <li>
            <a href="#" (click)="logout()" *ngIf="user.id>0">Deconnexion</a>
          </li>
          <li>
            <a href="/inscription" *ngIf="user.id==0">Inscription</a>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="content container">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

        <h5 class="white-text">Java Mobile Training</h5>
        <p>{{'Connecte: '||user.firstName||' '||user.lastName}}</p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Softenza Inc.</h5>
        Copyright @ 2018 Softenza Inc.
      </div>
    </div>
  </div>

</footer>
