<div class="row">
  <div class="input-field col s6">
    <i class="mdi-communication-email prefix white-text"></i>
    <input id="icon_email" name="email" type="email" class="validate white-text" [(ngModel)]="user.email">
    <label for="icon_email" class="white-text">Email</label>
  </div>

  <div class="input-field col s6">
    <i class="mdi-action-account-circle prefix white-text"></i>
    <input id="icon_prefix" name="lastName" type="text" class="validate white-text" [(ngModel)]="user.password">
    <label for="icon_prefix" class="white-text">Mot de passe</label>
  </div>
</div>
